html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #fae8d5;
    display: flex;
    flex-direction: column;
}

.custom-navbar {
    background-color: #ac846d;
}

.navbar .nav-link {
    color: white;
}

.navbar .navbar-brand img {
    height: 40px;
}

.container {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #71473b;
}

img {
    border-radius: 40px;
}

.footer {
    background-color: #800080; /* purple background */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.btn-success:hover, .btn-success:active,{
    background-color: #7F7871;
    border-color: #7F7871;
}
